.main-trackInfo-container {
	grid-template:
		"pretitle pretitle"
		"title title"
		"badges subtitle"
		"genres genre" / auto 1fr;
}

.main-trackInfo-genres {
	display: flex;
	flex-wrap: wrap;
	gap: 0px 8px;
	grid-area: genres;
}

.genre-tag:hover {
	color: var(--spice-text);
	text-decoration: underline;
	cursor: pointer;
}

.main-embedWidgetGenerator-container {
	max-height: 75vh;
}

.genre-description-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	user-select: text;

	.description-container {
		display: flex;
		flex-direction: column;
	}

	.related-genres-container {
		display: flex;
		flex-wrap: wrap;
		gap: 0px 12px;

		.genre-tag {
			color: rgba(var(--spice-rgb-selected-row), 0.7) !important;
		}
	}

	.playlist-container {
		display: flex;
		gap: 12px;
		align-items: center;
		padding: 8px;
		border-radius: 6px;
		background-color: rgba(var(--spice-rgb-main-secondary), 0.5);

		&:hover {
			background-color: var(--spice-highlight);
			cursor: pointer;
			text-decoration: none;
		}

		.playlist-image {
			width: 70px;
			height: 70px;
			border-radius: 4px;
		}

		.playlist-description {
			overflow: hidden;

			.playlist-title {
				font-size: 1.5em;
				font-weight: 900;
				line-height: 1.2em;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.playlist-stats {
				font-size: 0.875rem;
				color: rgba(var(--spice-rgb-selected-row), 0.7);
			}
		}
	}

	.description-container {
		.main-type-alto {
			line-height: 1.5em;
		}

		.main-gridContainer-gridContainer {
			--column-count: 4;
			--grid-gap: 16px;

			.main-card-card {
				padding: 12px;

				.main-cardImage-imageWrapper {
					margin-bottom: 8px;

					.main-cardImage-image {
						height: auto;
						aspect-ratio: 1/1;
						object-fit: cover;
					}
				}

				.main-cardHeader-text {
					color: var(--spice-text);
					padding-block-end: 0px;
					line-height: 1em;
				}
			}
		}
	}
}
